<!DOCTYPE html>

<html>
<head>
        <title>Le Théâtre d'Edward</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
		<meta name="robots" content="noindex, nofollow" />
</head>
<body class="body"> 
	
	
<!-- /////////////////////////////////Header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <%= render "layouts/header" %>
    
    
<!-- /////////////////////////////////ARTICLES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    
            <div class="theme">
				<div class="categorie-grandir-spectacles">
					<a href="#categories-grandir">
						<img src="img/grandir.jpg" class="art-pour-grandir" alt="art-pour-grandir">
					</a>
				</div>
				<div class="categorie-tous-spectacles">
					<a href="#categories-tous">
						<img src="img/tous.jpg" class="art-pour-tous" alt="art-pour-tous">
					</a>
				</div>
				<div class="categorie-plaisir-spectacles">
                    <a href="#categories-plaisir">
					   <img src="img/plaisir.jpg" class="art-pour-plaisir" alt="art-pour-plaisir">
                    </a>
				</div>	
			</div>
    
	
	
	    <!-- l'art pour grandir -->
	
            <div class="categories-grandir" id="categories-grandir">
                <h1>L'art pour grandir</h1>    
            </div>
    
    
    
    <!-- 1er article -->
    
    
            <div class="spectacles-grandir">
                <div class="article-1">
                    <div class="article-left">
                            <img src="img/SOS.jpg" >
                        <div class="sujet">
                            <h2>Ecologie</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>~ Chansons</li>
                                <li>~ Marionnettes</li>
                                <li>~ Rétroprojections</li>
                            </ul>
                        </div>
                    </div>
                    <div class="article-right">
                        <div class="h2-article-right">
                            <h2>SOS Terre</h2>
                        </div>
                        <div class="h3-article-right">
                            <h3>Durée : 1h30 environ</h3>
                        </div>
                        <div class="p-article-right">
                            <p>Atlas, le gardien de toutes les planètes est très en colère après la terre…</p>
							<p>Les hommes n’y font que des bêtises ! La preuve : Madeleine la baleine a ingurgité beaucoup trop de choses polluées dans l’océan glacé… elle est malade et ne peutplus chanter !</p>
							<p>Si la baleine ne chante plus, le volcan Terror explosera de colère et fera fondre labanquise !</p>
                        <p>Supernova, la petite étoile a décidé d’aider son ami Atlas ; avec tous les animaux de la banquise, l’ours, le phoque, la chouette arctique et le pingouin, ils vont transporter la baleine jusqu’au jardin de Nicolas qui saura la soigner avec ses plantes.</p>
                        </div>
                    </div>
                </div>
              </div>  

                
	
<!-- 2eme article -->          

                
                
                <div class="article-1">
                    <div class="article-left">
                            <img src="img/fable.jpg" >
                        <div class="sujet">
                            <h2>Scientifique et poétique</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>~ Scénographie très visuelle</li>
                                <li>~ Danse contemporaine</li>
                                <li>~ Percussions</li>
                                <li>~ Projection d'images</li>
                            </ul>
                        </div>
                    </div>
                    <div class="article-right">
                        <div class="h2-article-right">
                            <h2>La fable du monde</h2>
                        </div>
                        <div class="h3-article-right">
                            <h3>Durée : 1h15 environ</h3>
                        </div>
                        <div class="p-article-right">
                            <p>Aux grenouilles de la modernité qui n'en finissent pas de se faire aussi grosses que le bœuf, aux éléphants poétiques gambadant dans la forêt de l'Être, Supervielle répond par la fable, et prête aux dieux, aux bêtes et aux arbres sa parole ou son silence.</p>
                            <p>Il faut, cela va de soi, mettre Dieu au singulier. Même s'il arrive à Vénus, au corps "plein de lignes", de faire une brèche dans ce monothéisme poétique, le pluriel nous entraînerait dans un réseau par trop archaïque. Un seul Dieu, donc, paré d'une majuscule, en qui l'on reconnaîtra un cousin éloigné de celui de la Genèse, respectant grosso modo la chronologie biblique. "Si je crois en Dieu, ce n'est qu'en poésie", disait Supervielle à Nadal. Prenons au pied de la lettre cette déclaration, non pour sa portée religieuse ou métaphysique, qui n'est pas notre affaire, mais pour sa portée poétique. Dieu est ici ce que les rhétoriciens appelleraient une fiction.</p>

                        </div>
                    </div>
                </div> 
    
    
<!-- 3eme article -->          

                
                
                <div class="article-1">
                    <div class="article-left">
                            <img src="img/1-2-3.jpg" >
                        <div class="sujet">
                            <h2>Droit à la différence</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>~ Contes et chansons</li>
                                <li>~ Théâtre d’objets</li>
                                <li>~ Marionettes</li>
                                <li>~ Projections d’images</li>
                            </ul>
                        </div>
                    </div>
                    <div class="article-right">
                        <div class="h2-article-right">
                            <h2><p>1, 2, 3, TU PEUX COMPTER SUR TES DIX DROITS</p></h2>
                        </div>
                        <div class="h3-article-right">
                            <h3>Durée : 1h15 environ</h3>
                        </div>
                        <div class="p-article-right">
                            <p>Au début il y a Léa.Elle va rendre visite à d’autres enfants dans une école en Ouganda (en Afrique). Là-bas, enfants noirs et enfants blancs se font la guerre. Mais ils décident un jour de ne plus la faire pour pouvoir vivre en paix Puis, il y a Antonio, un petit garçon de cinq ans. Tous les jours, il part travailler pour aider les parents fatigués et pauvres. Pieds nus sur le goudron, il va cirer les chaussures et laver les autos. Mais passe un bateau qui l’invite à bord et l’emmène sur une île déserte avec tous ses copains !</p>
                            <p>C’est ensuite l’histoire de Raphaël qui raconte ses problèmes en faisant bouger des marionnettes. Les parents se disputent souvent et lui demandent de choisir entre son père et sa mère. Il leur répond qu’il ne veut pas1, 2, 3…</p>
                            <p>A la fin de l’histoire, tous les enfants embarquent sur le petit bateau vers le palais de Lou sur l’île déserte. Ensemble, ils imaginent un monde où l’on respecte leurs droits. </p>

                        </div>
                    </div>
                </div> 
    
    
	
<!-- l'art pour tous -->
    
            <div class="categories-tous" id="categories-tous">
                <h1>L'art pour tous</h1>    
            </div>
    
    
    
    
    
            <div class="spectacles-tous">
                <div class="article-1">
                    <div class="article-left">
                            <img src="img/phare.jpg" >
                        <div class="sujet">
                            <h2>L’univers marin</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>~ Scénographie évolutive</li>
                                <li>~ Comédie</li>
                                <li>~ Chansons</li>
                                <li>~ Marionnettes</li>
                                <li>~ Théâtre d’ombre.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="article-right">
                        <div class="h2-article-right2">
                            <h2>Le mystère du phare</h2>
                        </div>
                        <div class="h3-article-right">
                            <h3>Durée : 1h environ</h3>
                        </div>
                        <div class="p-article-right">
                            <p>L’histoire raconte les aventures que vit un jeune adolescent en Bretagne, pendant ses vacances d’été.</p>
                            <p>Dans le premier chapitre, « Ludovic est en vacances », on fait la connaissance du protagoniste de l’histoire, Ludovic, et de son petit frère, Sébastien.</p>
                            <p>Dans le deuxième chapitre, « Sur la route du phare », Ludovic et Sébastien font une promenade à vélo et prennent la route du phare qui intrigue Ludovic dès le début. C’est ainsi qu’ils voient pour la première fois une belle jeune fille qui attire les regards de Ludovic. Arrivés jusqu’au phare, ils se font éconduire par le gardien qui n’hésite pas à leur faire peur.</p>
                            <p>Dans le troisième chapitre, « Où est grand-père ? », Ludovic reprend la route du phare mais il est seul, cette fois. Il a l’intention de chercher à connaître la jeune fille qu’il avait aperçue dans une maison près du phare. Il la retrouve en pleurs car son grand-père a disparu.</p>
                        </div>
                    </div>
                </div>
                
                
<!-- 2eme article -->          

                
                
                <div class="article-1">
                    <div class="article-left">
                            <img src="img/ensemble.jpg" >
                        <div class="sujet">
                            <h2>Intergénérationnel</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>~ Scénographie évolutive</li>
                                <li>~ Divertissemant</li>
                                <li>~ Institutionnel</li>
                                <li>~ Marionettes</li>
                                <li>~ Comédie</li>
                                <li>~ Vidéo-projections</li>
                            </ul>
                        </div>
                    </div>
                    <div class="article-right">
                        <div class="h2-article-right">
                            <h2><p>Grandir ensemble sur la terre</p></h2>
                        </div>
                        <div class="h3-article-right">
                            <h3>Durée : 1h10 environ</h3>
                        </div>
                        <div class="p-article-right">
                            <p>L’histoire raconte les aventures que vit un jeune adolescent en Bretagne, pendant ses vacances d’été.</p>
                            <p>Dans le premier chapitre, « Ludovic est en vacances », on fait la connaissance du protagoniste de l’histoire, Ludovic, et de son petit frère, Sébastien.</p>
                            <p>Dans le deuxième chapitre, « Sur la route du phare », Ludovic et Sébastien font une promenade à vélo et prennent la route du phare qui intrigue Ludovic dès le début. C’est ainsi qu’ils voient pour la première fois une belle jeune fille qui attire les regards de Ludovic. Arrivés jusqu’au phare, ils se font éconduire par le gardien qui n’hésite pas à leur faire peur.</p>
                            <p>Dans le troisième chapitre, « Où est grand-père ? », Ludovic reprend la route du phare mais il est seul, cette fois. Il a l’intention de chercher à connaître la jeune fille qu’il avait aperçue dans une maison près du phare. Il la retrouve en pleurs car son grand-père a disparu.</p>
                        </div>
                    </div>
                </div> 
            

                
<!-- l'art pour le plaisir -->
                
                    
    
            <div class="categories-plaisir" id="categories-plaisir">
                <h1>L'art pour le plaisir</h1>    
            </div>
    
    
    
    
    
            <div class="spectacles-plaisir">
                <div class="article-1">
                    <div class="article-left">
                            <img src="img/alice.jpg" >
                        <div class="sujet">
                            <h2>Conte musical</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>~ Chant/Danse</li>
                                <li>~ Monde fantastique</li>
                                <li>~ Marionettes</li>
                                <li>~ Comédie</li>
                            </ul>
                        </div>
                    </div>
                    <div class="article-right">
                        <div class="h2-article-right3">
                            <h2><p>Alice au pays des merveilles</p></h2>
                        </div>
                        <div class="h3-article-right">
                            <h3>Durée : 1h30 environ</h3>
                        </div>
                        <div class="p-article-right">
                            <p>Alice s'ennuie auprès de sa sœur qui lit un livre (« sans images, ni dialogues ») tandis qu'elle ne fait rien. « À quoi bon un livre sans images, ni dialogues ? », se demande Alice.</P>
                            <p>Mais voilà qu'un lapin blanc aux yeux roses vêtu d'une redingote avec une montre à gousset à y ranger passe près d'elle en courant. Cela ne l'étonne pas le moins du monde.</p>
                        <p>Pourtant, lorsqu'elle le voit sortir une montre de sa poche et s'écrier : « Je suis en retard ! En retard ! En retard ! », elle se dit que décidément ce lapin a quelque chose de spécial. En entrant derrière lui dans son terrier, elle fait une chute presque interminable qui l'emmène dans un monde aux antipodes du sien.</p>
                            <p>Elle va rencontrer une galerie de personnages retors et se trouver confrontée au paradoxe, à l'absurde et au bizarre…</p>
                            
                        </div>
                    </div>
                </div>
                
                
<!-- 2eme article -->          

                
                
                <div class="article-1">
                    <div class="article-left">
                            <img src="img/test.jpg" >
                        <div class="sujet">
                            <h2>Conte musical</h2>
                        </div>
                        <div class="description">
                            <ul>
                                <li>~ Chant</li>
                                <li>~ Marionettes</li>
                                <li>~ Théâtre d'ombre</li>
                            </ul>
                        </div>
                    </div>
                    <div class="article-right">
                        <div class="h2-article-right">
                            <h2>Mélodie en clé de sol</h2>
                        </div>
                        <div class="h3-article-right">
                            <h3>Durée : 1h30 environ</h3>
                        </div>
                        <div class="p-article-right">
                            <p>Ce matin là, Berlingot rencontre Dimitri, son ami le musicien. Il lui décrit son rêve : apprendre à jouer d'un instrument de musique !</p>
                            <p>Rien de plus simple, il suffit d'entrer au Pays de la Musique avecune clé : la Clé de Sol.</p>
                            <p>L'artiste peintre lui dessine cette clé majestueuse, l'oiseau sculpteur lui grave dans le bois, la baleine cantatrice transforme la clé de bois en clé d'or grâce à son chant lyrique et magique.</p>
                            <p>Berlingot peut alors ouvrir la porte de ce monde enchanté…</p>

                        </div>
                    </div>
                </div> 
                
<!-- /////////////////////////////////Footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

        <%= render "layouts/footer" %>
	</div>
	
	
</body>
    
</html>