		<footer class="footer">
			<div class="partenaires">
				<h4 class="title-footer">Nos partenaires</h4>
                <%= image_tag("img/partenaires.png")%>
			</div>
			<div class="separations">
			</div>			
			<div class="contact">
				<h4 class="title-footer"><a href="contact.html">Contact</a></h4>
				<p>Tel : 05 55 34 59 87</p>
				<p>Mail : contact@theatreedward.com</p>
			</div>
			<div class="separations">
			</div>
			<div class="suivre">
				<h4 class="title-footer">Nous suivre</h4>
				<div id="sociaux-footer">
                    
					<a href="https://fr-fr.facebook.com/" target="_blank"><img src="img/facebook-footer.jpg" alt="facebook" title="facebook"></a>
					<a href="https://twitter.com/?lang=fr" target="_blank"><img src="img/twitter-footer.jpg" alt="twitter" title="twitter"></a>
					<a href="https://plus.google.com" target="_blank" > <img src="img/google-footer.jpg" alt="google" title="google"></a>
				</div>
			</div>
		</footer>